.config/nvim/bundle/SQLUtilities/*
.config/nvim/bundle/c.vim/*
.config/nvim/bundle/fzf.vim/*
.config/nvim/bundle/gundo.vim/*
.config/nvim/bundle/tComment/*
.config/nvim/bundle/taglist.vim/*
.config/nvim/bundle/vim-devicons/*
.vim/bundle/ctrlp.vim/*
